
USE [DictionaryData]
GO
/****** Object:  Table [dbo].[GVDictionary]    Script Date: 24.08.2020 18:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GVDictionary](
	[ID] [int] NOT NULL,
	[German] [nvarchar](100) NULL,
	[VNShort] [nchar](1000) NULL,
	[VNLong] [nvarchar](max) NULL,
 CONSTRAINT [PK_GVDictionary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 24.08.2020 18:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[permission] [int] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[add_dict]    Script Date: 24.08.2020 18:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[add_dict]
			 @ID nvarchar(50)
            ,@German nvarchar(100)
            ,@VNShort nchar(1000)
            ,@VNLong nvarchar(max)
AS
INSERT INTO [dbo].[GVDictionary]
           ([ID]
           ,[German]
           ,[VNShort]
           ,[VNLong])
     VALUES
           (@ID 
           ,@German 
           ,@VNShort 
           ,@VNLong)
GO
/****** Object:  StoredProcedure [dbo].[Delete_dict]    Script Date: 24.08.2020 18:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Delete_dict]
	@ID nvarchar(59)
AS

DELETE FROM [dbo].[GVDictionary]
      WHERE [ID]=@ID
GO
/****** Object:  StoredProcedure [dbo].[Dictionary_Select_List]    Script Date: 24.08.2020 18:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Dictionary_Select_List]
	@ID NVARCHAR(50)
AS
SELECT [ID]
      ,[German]
      ,[VNShort]
      ,[VNLong]
  FROM [dbo].[GVDictionary]
  WHERE [ID]=@ID
GO
/****** Object:  StoredProcedure [dbo].[Edit_dict]    Script Date: 24.08.2020 18:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Edit_dict]
			@ID nvarchar(50)
            ,@German nvarchar(100)
            ,@VNShort nchar(1000)
            ,@VNLong nvarchar(max)
AS

UPDATE [dbo].[GVDictionary]
   SET [ID] = @ID
      ,[German] = @German
      ,[VNShort] = @VNShort 
      ,[VNLong] = @VNLong 
 WHERE [ID]=@ID
GO
/****** Object:  StoredProcedure [dbo].[Login_Select]    Script Date: 24.08.2020 18:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[Login_Select]
	@user NVARCHAR(50),
	@pass NVARCHAR(50)
	
AS

SELECT [username]
      ,[password]
  FROM [dbo].[Login]

WHERE @user=[username]
	AND	@pass=[password]
GO
/****** Object:  StoredProcedure [dbo].[Lookup_back]    Script Date: 24.08.2020 18:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Lookup_back]
	@VNShort nvarchar(50)
	as
	SELECT [ID]
      ,[German]
      ,[VNShort]
      ,[VNLong]
	 FROM [dbo].[GVDictionary]
  WHERE [VNShort] = @VNShort
GO
/****** Object:  StoredProcedure [dbo].[Lookup_dict]    Script Date: 24.08.2020 18:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Lookup_dict]
	@German NVARCHAR(50)
AS

SELECT [ID]
      ,[German]
      ,[VNShort]
      ,[VNLong]
  FROM [dbo].[GVDictionary]
  WHERE [German] = @German
GO
/****** Object:  StoredProcedure [dbo].[select_dict]    Script Date: 24.08.2020 18:21:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[select_dict]
AS
SELECT [ID]
      ,[German]
      ,[VNShort]
      ,[VNLong]
  FROM [dbo].[GVDictionary]



GO
USE [master]
GO
